/* -------------------- General -------------------- */

body {
    margin: 0;
}

#root {
    display: flex;
    flex-direction: column;
}

.page {
    background-color: #E8EBF7;
    height: 100vh;
    overflow: auto;
}

.inPage {
    flex: 1;
}

h1 {
    margin: 0px;
    padding: 5px;
}


/* -------------------- General Buttons -------------------- */

.submitButton {
    background-color: #ACBED8;
    font-size: 14px;
    border-radius: 8px;
    transition-duration: 0.4s;
    padding: 8px 14px;
    margin: 9px;
    cursor: pointer;
}

.submitButton:hover {
    border-color: #ACBED8;
    background-color: white;
}


/* -------------------- Footer -------------------- */

footer {
    color: white;
    background-color: rgb(67, 67, 67);
    border-color: rgb(67, 67, 67);
    border-style: solid;
    /* position: relative; */
    bottom: 0;
    height: 45px;
    margin-top: 10px;
}

footer p {
    margin: 2px;
}

footer a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

footer a:hover {color: gold}


/* -------------------- Nav Bar -------------------- */

nav {
    display: flex;
    justify-content: center;
    border-top-width: 3px;
    border-color: #ACBED8;
    border-top-style: solid;
}

nav button{
    border: none;
    background-color: #ACBED8;
    font-size: 20px;
    border-radius: 8px;
    transition-duration: 0.4s;
    padding: 12px 28px;
    margin: 10px;
    cursor: pointer;
}
nav button:hover {
    border-color: #ACBED8;
    background-color: white;
}


/* -------------------- Browse Page -------------------- */

#locationBrowse {
    display: flex;
    min-height: 100vh;
}

.locationPreview {
    display: inline-block;
    word-wrap: break-word;
    border-width: 3px;
    border-color: black;
    border-style: outset;
    align-content: center;
    width: 50%;
    margin: 5%
}

.locationPreview img {
    width: 100%;
}

.textButton {
    cursor: pointer;
    margin: 2%;
    font-weight: bold;
    font-size: 18px;
}

.textButton:hover {color: gold}


/* -------------------- Slide Show Page -------------------- */

#backButton{
    border: none;
    background-color: #ACBED8;
    font-size: 20px;
    border-radius: 8px;
    transition-duration: 0.4s;
    padding: 12px 28px;
    margin: 10px;
    cursor: pointer;
}

.submitButton:hover {
    border-color: #ACBED8;
    background-color: white;
}

#slideshowMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slideshow {
    position: relative;
    max-width: 50%;
    overflow: hidden;
    border: 5px;
    border-style: solid;
}

.slideImage {
    display: none;
    width: 100%;

}

.slideImage.active {
    display: block;
}


/* -------------------- Update Page -------------------- */

form {
    display: flex;
    flex-direction: column;
}

input[type=text] {
    display: block;
    width: 50%;
    padding: 6px 10px;
    margin: 8px;
    box-sizing: border-box;
}

input[type=number] {
    display: block;
    width: 16%;
    padding: 6px 10px;
    margin: 8px;
    box-sizing: border-box;
}

#floatRight {
    float: right;
}

.locationMiniPreview {
    display: inline-block;
    word-wrap: break-word;
    border-width: 3px;
    border-color: black;
    border-style: outset;
    align-content: center;
    width: 20%;
    margin: 5%
}

.locationMiniPreview img {
    width: 100%;
}


/* -------------------- Website Authors Page -------------------- */

.author {
    display: flex;
}

.container {
    background-color: lightgray;
    box-shadow: 0px 2px 3px black;
    border-radius: 10px;
    padding: 0px;
    text-align: center;
    flex-basis: 50%;
    max-width: 35%;
    margin-bottom: 5%;
}

.container-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.container img {
    border-radius: 10px;
    max-width: 100%;
    object-fit: cover;
}