.author {
    display: flex;
}

.author div{
    padding: 5%;
}

.locationBox {
    display: inline-block;
    border-width: 3px;
    border-color: black;
    border-style: outset;
    align-content: center;
    width: 70%;
    margin: 5%
}

.locationBox img{
    width: 50%;
}

#locationBoxes {
    display: flex;
}

.container {
    background-color: lightgray;
    box-shadow: 0px 2px 3px black;
    margin: 0px 5% 0px 5%;
    border-radius: 10px;
    padding: 0px;
    text-align: center;
    flex-basis: 50%;
    max-width: 35%;
}

.container-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.container img {
    max-width: 100%;
    object-fit: cover;
}